apiVersion: v1
kind: Service
metadata:
  name: llm-service
  namespace: noclue-app
  labels:
    app: llm-service
spec:
  type: LoadBalancer
  selector:
    app: llm-service
  ports:
    - port: 4005
      targetPort: 4005
      protocol: TCP
      name: http
  sessionAffinity: None

